@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    background-color: #e5e5e5;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;

}

.wrapper {
    background-color: white;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.button {
    background: #756157;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}



.brown-button:hover,
.brown-button:focus {
    background-color: #615048;
}


.blue-button:hover,
.blue-button:focus {
    background-color: #68A2CA;
}

.green-button:hover,
.green-button:focus {
    background-color: #6C9E42;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}



/*navigation*/

.page-header {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0;
    margin-bottom: -5px;
    padding: 0;
    min-height: 66px;
}

.navigation-list {
    display: flex;
    width: 630px;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    list-style: none;
    margin-right: auto;
}

.main-logo {
    margin-right: 30px;
    margin-bottom: 0;
    display: block;
}



ul.navigation-icons {
    display: flex;
    list-style: none;
    width: 300px;
    padding: 0;
    margin: 0;
    margin-right: 70px;
    justify-content: end;

}


.navigation-icons .navigation-item:nth-child(1) .navigation-item-link {
    background-image: url('../images/icons/search-icon.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 12px;
    padding: 0;
    display: block;
}

.navigation-icons .navigation-item:nth-child(2) .navigation-item-link {
    background-image: url('../images/icons/favorite-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 12px;
    padding: 0;
    display: block;
    position: relative;
}

.navigation-item-current {
    border-bottom: 2px solid #756257;
}

.navigation-item-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding: 17px 0 20px;
    display: block;
    margin: 0 17px;
}

.navigation-icons .navigation-item-link {
    margin: 0;
}

.navigation-catalog-link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 8px 16px;
}

.navigation-icons .navigation-item-link {
    min-width: 18px;
    min-height: 66px;
    padding: 0;
}

.favourite-number {
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #7DB54F;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
}



.navigation-button {
    display: block;
    min-width: 160px;
    min-height: 37px;
    padding-top: 8px;
    padding: 0;
    margin-left: 20px;
    margin-top: 14px;
    font-size: 16px;
    inline-size: 20px;
    line-height: 37px;
    text-align: center;
    box-sizing: border-box;
}



/* Main */

.main-container {
    flex-grow: 1;
}


.main-banner {
    background-color: cornflowerblue;
    background-image: url("../images/index-background.jpg");
    min-height: 485px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 52px;
    position: relative;
}



.main-banner img {
    display: block;
    margin: 0 auto;
}

.main-banner::after {
    content: "";
    background-image: url("../images/white-cover.svg");
    width: 1200px;
    height: 57px;
    position: absolute;
    bottom: 0;
}

.block-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.introduction-title {
    margin-top: 63px;
    margin-bottom: 30px;
}

.block-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    padding: 0;
    margin: 0;
}

.description-introduction {
    margin-bottom: 90px;
}


/* advantages */


.advantage-colored-text {
    background-color: #82B3D3;
    width: 400px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.advantage-illustrated-first {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.advantage-illustrated-second {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1200px;
    min-height: 384px;
}

.advantage-picture {
    object-fit: cover;
}

.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    flex-wrap: wrap;
    list-style: none;
}

.advantage-colored img {
    margin: 0;
    object-fit: cover;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 85px 92px 85px;
    margin: 0;
    max-width: 230px;

}

.advantages-description-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 85px 30px 85px;
    margin: 0;
    max-width: 230px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 92px 85px 30px 85px;
    margin: 0;
    max-width: 230px;

}


.city-advantages-list {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.city-advantages-dark {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item {
    text-align: center;
    min-height: 384px;
    width: 400px;

}

.city-advantages-dark-20 {
    background: rgba(131, 179, 211, 0.20);
}

.city-advantage-item {
    max-width: 400px;
    min-height: 384px;
}

.city-advantage-item img {
    object-fit: contain;
}


.advantages-title-inner {
    padding: 0 85px 30px;
    margin: 0;
}

.city-advantage-item img {
    padding-top: 80px;
    padding-bottom: 30px;
}

/*hotel search*/


.booking-title {
    margin-top: 91px;
    margin-bottom: 30px;
}

.booking-introduction {
    margin-bottom: 56px;
}

.hotel-search {
    text-align: center;
}


.hotel-search-button {
    display: block;
    font-size: 20px;
    line-height: 36px;
    max-width: 574px;
    padding: 12px 15px;
    align-self: center;
    margin: 0 auto 105px;
}

/*email-subscribtion*/



.email-subscribtion {
    box-sizing: border-box;
    text-align: center;
    color: #333333;
    min-height: 411px;
    padding: 94px 0 94px 0;
    margin: 0;
}

.subscribtion-background {
    background-image: url("../images/subscribtion-background.jpg");
    background-color: cornflowerblue;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribtion-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-color: transparent;
    border-radius: 0 10px 10px 0;
    margin: 0;
    min-width: 200px;
    box-sizing: border-box;
}

.subscribtion-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.subcribtion-description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
}

.subscribtion-form {
    display: flex;
    min-width: 770px;
    margin: 0;
    justify-content: center;
}

.subscribtion-form input {
    min-width: 600px;
    min-height: 60px;
    border: #FFFFFF;
    border-radius: 10px 0 0 10px;
    padding-left: 22px;
    background-color: #F2F2F2;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

/* Line */
.accomodation-catalog::after {
    content: "";
    display: block;
    margin-right: 72px;
    margin-left: 72px;
    border-bottom: 2px solid #E6E6E6;
    order: 4;
}



/*footer*/

.main-footer {
    margin: 0;
    padding: 0 72px;
    width: 1200px;
    display: flex;
    box-sizing: border-box;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.contacts-phone:hover {
    color: #756157;
}

.contacts-phone:focus {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.social-media-list {
    list-style: none;
    max-width: 130px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 35px;

}

.social-media-item {
    display: flex;
    align-items: center;
    padding: auto;
}

.social-media-link:hover .socials-icon path {
    fill: #68A2CA;
}

.social-media-link:focus .socials-icon path {
    fill: #68A2CA;
}

.social-media-link:active .socials-icon path {
    fill: rgba(104, 162, 202, 0.3);
}


.academy-logo-link:hover .academy-logo path {
    fill: #756157;
}

.academy-logo-link:focus .academy-logo path {
    fill: #756157;
}

.academy-logo-link:active .academy-logo path {
    fill: rgba(117, 97, 87, 0.3);
}




.social-media-item:not(:nth-child(3n)) {
    margin-right: 26px;
}

.contacts-phone {
    max-width: 340;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 35px;

}

.academy-logo-link {
    width: 115;
    margin-left: auto;
    margin-top: 49px;
}

/*catalog-page*/

/*navigation*/


.navigation-item {
    display: block;
    line-height: 0;
    z-index: 2;
}



/*filter*/

.search-header {
    background-image: url("../images/filter-background.jpg");
    background-color: #82B3D3;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 35px 70px 70px 70px;

}

.catalog-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.search-bar {
    margin: 0;
    padding: 0;
}


.search-filter {
    display: flex;
    justify-content: space-between;
}


.search-filter-item {
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}

.search-filter-group-info {
    padding: 0;
    margin-right: 70px;
    width: 150px;
    border: transparent;
}

.search-filter-group-type {
    padding: 0;
    margin-right: auto;
    width: 150px;
    border: transparent;
}

.search-filter-group-price {
    padding: 0;
    width: 288px;
    border: transparent;
}


.filter-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 0;
    margin-left: 70px;
    margin-top: auto;
}

.filter-buttons button.filter-button-apply,
.filter-buttons button.filter-button-reset {
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    position: relative;
}

.breadcrummbs-home-icon {
    display: block;
    background-image: url(../images/icons/home-breadcrumps.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-top: 4px;
}

.breadcrumbs-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

}



.breadcrumbs::after {
    content: '';
    display: flex;
    align-items: center;
    background-image: url(../images/icons/breadcrump-arrow.svg);
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:5px;
    position: absolute;
    left: 25px;
    top: 1px;

}


.search-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.control-input-price {
    width: 288px;
}

.filter-button-apply {
    background: #82B3D3;
    border-radius: 4px;
    border-color: transparent;
    color: #FFFFFF;
    min-width: 160px;
    min-height: 48px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.filter-button-reset {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: #FFFFFF;
    padding-top: 20px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}




/*searh results*/

.search-result-header {
    width: 1060px;
    min-height: 50px;
    margin: 50px auto 56px;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.accomodation-search-result {
    width: 340px;
    margin-right: 190px;
    margin-top: auto;
    margin-bottom: auto;
}

.sort-buttons {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 8px;
    list-style: none;
    width: 160px;
    padding: 0;
    margin: 0;
    margin-left: 80px;
}


.sort-buttons-item {
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
}

.sort-buttons-link {
    width: 48px;
    height: 48px;
    border-color: #E5E5E5;
    border-width: 2px;
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    padding: 0;
    margin: 0;
}

.sort-buttons-link:hover {
    border-color: #000000;
}

.sort-buttons-link:focus {
    border-color: #68A2CA;
}

.sort-buttons-link:active {
    border-color: #000;
}


button.sort-button-selected {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.button-sort-slideshow {
    background-image: url("../images/icons/icon-slideshow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button-sort-list {
    background-image: url("../images/icons/icon-list.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button-sort-table {
    background-image: url("../images/icons/icon-table.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* hotel list */

.accomodation-list {
    width: 1056px;
    list-style: none;
    display: grid;
    column-gap: 18px;
    grid-template-columns: 340px 340px 340px;
    margin: 57px auto 66px;
    padding: 0;
}

.accomodation-search-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.select-control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    max-height: 49px;
    min-width: 287px;
    border-radius: 4px;
    border-color: #E5E5E5;
    padding-left: 20px;
}


.accomodation-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.accomodation-card {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.accomodation-card-content {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}

.accomodation-card a {
    text-decoration: none;
    margin-bottom: 16px;
}

.accomodation-card-price {
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    min-width: 133px;
}

.accomodation-card-type {
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    min-width: 143px;
    margin-right: 20px;
}

.accomodation-card-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.accomodation-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    padding: 8px 16px;
    margin-right: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;

}

.accomodation-card-button {
    background: #82B3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    font-family: inherit;
}



.accomodation-card-rating {
    background: #F2F2F2;
    border-radius: 4px;
    text-align: center;
    min-width: 140px;
    text-transform: uppercase;
    padding: 8px 22px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
}

.favorite-added {
    background: #7DB54F;
}

/*pagination*/

.pagination-container {
    width: 1056px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    order: 5;
}

.pagination {
    list-style: none;
    width: 400px;
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination-link {
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px 5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
}


.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus {
    background-color: #68A2CA;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}


.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-select {
    margin: auto 0;
}

.page-select {
    margin-left: 50px;
    min-width: 160px;
    min-height: 48px;
    border-radius: 4px;
    border-color: #E5E5E5;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}

.page-number {
    padding-right: 20px;
    min-height: 49px;
    min-width: 160px;
}


.pagination-current {
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}


.pagination-select option {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
